async-timeout==4.0.3
gradio==4.36.1
moviepy==1.0.3
numpy==1.26.3
scipy==1.13.1
openai==1.40.0
peakutils==1.3.4
python-dotenv==1.0.1
opencv-python==4.10.0.82
PySoundFile==0.9.0.post1
torch==2.3.1
torchaudio==2.3.1
pdf2image==1.17.0
ffmpeg-python==0.2.0
nest-asyncio==1.6.0
aioboto3==13.1.1
pytubefix
